# dldt_data
dldt_data/page_images
dldt_data/printer_jsons
dldt_data/*.json
dldt_data/*.csv
dldt_data/secret.py
dldt_data/__pycache__

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Local directories
content/
public/img/iiif/
static/
